<div class="row">
    <!-- col -->
    <div class="col-lg-6 col-xl-6">
        <div class="card no-shadown widget-box-three" style="background-color: rgb(221, 221, 221);">
            <div class="card-body">
                <div class="float-right mt-2">
                    <i class="fas fa-shopping-bag display-3 m-0" style="color: black;"></i>
                </div>
                <div class="overflow-hidden">
                    <p class="text-uppercase font-weight-medium text-truncate mb-2">Sinh viên</p>
                    <h2 class="mb-0"><span data-plugin="counterup">20</span></h2>
                </div>
            </div>
        </div>
    </div>
    <!-- col -->
    <div class="col-lg-6 col-xl-6">
        <div class="card no-shadown widget-box-three" style="background-color:  rgb(221, 221, 221);">
            <div class="card-body">
                <div class="float-right mt-2">
                    <i class="fas fa-check-double display-3 m-0" style="color: black;"></i>
                </div>
                <div class="overflow-hidden">
                    <p class="text-uppercase font-weight-medium text-truncate mb-2">Môn học</p>
                    <h2 class="mb-0"><span data-plugin="counterup">13</span></h2>
                </div>
            </div>
        </div>
    </div>
</div>