<div class="container my-5" id="content">
    <div class="quizs">
        <div class="spacer"></div>
        <h2>Quiz</h2>
    </div>
    <div class="row">
        <div class="col text-center">
            <h2><i class="fas fa-clock" style="color: #23B5E1;"></i> 15:00</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card border-info" *ngFor = "let s of listQuestions; index as j">
                <div class="card-header text-white" style="background-color: #23B5E1;">
                    <span>{{s.Name}}</span>
                </div>
                <div class="card-body">

                    <div class="card-text" style="font-weight: 500;">Câu hỏi {{j+1}}: {{s.Text}}
                        <hr>
                        <div class="form-check" *ngFor = "let i of s.Answers">
                            <input (change)="selectAnswer(s.id, i.id)" class="form-check-input" id="anw_{{i.id}}" type="radio" [name]="s.id" [value]="i.id">
                            <label class="form-check-label" for="anw_{{i.id}}">{{i.Text}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <select name="" id="" (change)="selectedStudent($event)">
        <option value="" selected hidden>Chọn sinh viên:</option>
        <option *ngFor="let s of listStudent" [value]="s.id">{{s.fullname}}</option>
    </select>
    <p>{{studentSelected | json}}</p>
    <button (click)="submitExcercise()" class="btn btn-primary">Submit</button>

</div>