<div class="container my-5" id="content">
    <div class="subjects">
        <div class="spacer"></div>
        <h2>Final</h2>
        <table class="table">
            <thead>
              <tr>
                <th>Sinh viên</th>
                <th>Tên môn</th>
                <th>Điểm</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of studentOfQuiz">
                <td>{{ item.fullname }}</td>
                <td>{{ subject.Name }}</td>
                <td>{{ item.score.score }}</td>
              </tr>
            </tbody>
          </table>
    </div>
    </div>
